In [9]:
import os

import src.data.Dataset as dt

In [10]:
RAW_DATASET = os.path.abspath("./data/raw/10000Images.csv")
print(f"RAW_DATASET: {RAW_DATASET}")

RAW_DATASET: /Users/carlos/WORKSPACE/MegaClassifier/data/raw/10000Images.csv

In [11]:
dataset_original = dt.load_from_csv(RAW_DATASET)
dataset_original

The file /Users/carlos/WORKSPACE/MegaClassifier/data/raw/10000Images.csv has been successfully opened.

                                               file_name     label
0      \cervidae\CERVIDREDORFALLOWDEER_ZOO_1_4\20_202...  cervidae
1      \leporido\conejo_WellingtonCameraTraps_SS\1908...  leporido
2      \vacia\empty_SnapshotMountainZebra\MTZ_S1_D07_...     vacia
3      \vacia\NOANIMAL_ZOO_5_6_7_9\37_20210319 (943).JPG     vacia
4      \vacia\empty_IslandConservationCameraTraps\dom...     vacia
...                                                  ...       ...
31665               \vacia\vacia_ss\27_20201023 (17).JPG     vacia
31666        \zorro\REDFOX_ZOO_1_4\32_20201218 (348).JPG     zorro
31667  \mapache\raccoon_CaltechCameraTrap_ME\58af767e...   mapache
31668  \cervidae\CERVIDREDORFALLOWDEER_ZOO_5_6_7_9\5_...  cervidae
31669         \zorro\zorro_PNM_2012_ME\d3424IM000012.JPG     zorro

[31670 rows x 2 columns]

In [12]:
num_images = len(dataset_original["file_name"])
print(f"Number of images in dataset: {num_images}")

Number of images in dataset: 31670

In [ ]:
dataset = dataset_original.drop_duplicates(subset="file_name")
dataset

                                               file_name     label
0      \cervidae\CERVIDREDORFALLOWDEER_ZOO_1_4\20_202...  cervidae
1      \leporido\conejo_WellingtonCameraTraps_SS\1908...  leporido
2      \vacia\empty_SnapshotMountainZebra\MTZ_S1_D07_...     vacia
3      \vacia\NOANIMAL_ZOO_5_6_7_9\37_20210319 (943).JPG     vacia
4      \vacia\empty_IslandConservationCameraTraps\dom...     vacia
...                                                  ...       ...
31665               \vacia\vacia_ss\27_20201023 (17).JPG     vacia
31666        \zorro\REDFOX_ZOO_1_4\32_20201218 (348).JPG     zorro
31667  \mapache\raccoon_CaltechCameraTrap_ME\58af767e...   mapache
31668  \cervidae\CERVIDREDORFALLOWDEER_ZOO_5_6_7_9\5_...  cervidae
31669         \zorro\zorro_PNM_2012_ME\d3424IM000012.JPG     zorro

[30539 rows x 2 columns]

In [14]:
print("Classes of dataset ")
print(dataset["label"].unique())

print()
print("Number of classes of dataset ")
print(dataset["label"].nunique())

Classes of dataset
['cervidae' 'leporido' 'vacia' 'gato_domestico' 'humanovehiculo' 'zorro'
 'vaca' 'micromamiferos' 'meloncillo' 'dudosa' 'jabali' 'ave' 'lince'
 'caballo' 'gineta' 'perro' 'garduna' 'tejon' 'mapache']

Number of classes of dataset
19

In [15]:
label_counts = dataset["label"].value_counts()
label_counts_sorted = label_counts.sort_index()
print(label_counts_sorted)

label
ave               1688
caballo            871
cervidae          5253
dudosa            1969
garduna            174
gato_domestico     777
gineta             117
humanovehiculo    1501
jabali            1979
leporido          1569
lince              958
mapache            207
meloncillo         195
micromamiferos     466
perro              116
tejon              255
vaca              1106
vacia             9665
zorro             1673
Name: count, dtype: int64

In [16]:
animal_class = [
    "ave",
    "caballo",
    "cervidae",
    "dudosa",
    "garduna",
    "gato_domestico",
    "gineta",
    "humanovehiculo",
    "jabali",
    "leporido",
    "lince",
    "mapache",
    "meloncillo",
    "micromamiferos",
    "perro",
    "tejon",
    "vaca",
    "zorro",
]

animal_class_filtered = [
    "ave",
    "caballo",
    "cervidae",
    "garduna",
    "gato_domestico",
    "gineta",
    "humanovehiculo",
    "jabali",
    "leporido",
    "lince",
    "mapache",
    "meloncillo",
    "micromamiferos",
    "perro",
    "tejon",
    "vaca",
    "zorro",
]

empty_class = ["vacia"]

print("Number of classes of custom dataset ")
print(str(len(animal_class_filtered) + len(empty_class)))

Number of classes of custom dataset
18

In [17]:
dataset_binary = dt.convert_to_binary(dataset, empty_class, animal_class)
dataset_filtered = dt.convert_to_binary(dataset, empty_class, animal_class_filtered)
dataset_filtered

                                               file_name label
0      \cervidae\CERVIDREDORFALLOWDEER_ZOO_1_4\20_202...     1
1      \leporido\conejo_WellingtonCameraTraps_SS\1908...     1
2      \vacia\empty_SnapshotMountainZebra\MTZ_S1_D07_...     0
3      \vacia\NOANIMAL_ZOO_5_6_7_9\37_20210319 (943).JPG     0
4      \vacia\empty_IslandConservationCameraTraps\dom...     0
...                                                  ...   ...
31665               \vacia\vacia_ss\27_20201023 (17).JPG     0
31666        \zorro\REDFOX_ZOO_1_4\32_20201218 (348).JPG     1
31667  \mapache\raccoon_CaltechCameraTrap_ME\58af767e...     1
31668  \cervidae\CERVIDREDORFALLOWDEER_ZOO_5_6_7_9\5_...     1
31669         \zorro\zorro_PNM_2012_ME\d3424IM000012.JPG     1

[28570 rows x 2 columns]

In [18]:
number_raw_samples = len(dataset_binary["file_name"].values)
number_raw_empty = len(dataset_binary[dataset_binary["label"] == 0])
number_raw_animal = len(dataset_binary[dataset_binary["label"] == 1])

print("Number of samples in raw dataset: " + str(number_raw_samples))
label_counts = dataset_binary["label"].value_counts()
label_counts_sorted = label_counts.sort_index()
print(label_counts_sorted)
print()

number_set_samples = len(dataset_filtered["file_name"].values)
number_set_empty = len(dataset_filtered[dataset_filtered["label"] == 0])
number_set_animal = len(dataset_filtered[dataset_filtered["label"] == 1])

csv_set_path = os.path.join(
    RAW_DATASET[: -len(os.path.basename(RAW_DATASET))],
    str(number_set_samples) + "Images_binary.csv",
)
dt.dataset_to_csv(dataset_filtered, csv_set_path)

print("\nNumber of samples in set dataset: " + str(number_set_samples))
label_counts = dataset_filtered["label"].value_counts()
label_counts_sorted = label_counts.sort_index()
print(label_counts_sorted)

Number of samples in raw dataset: 30539
label
0     9665
1    20874
Name: count, dtype: int64

The dataset has been successfully saved to /Users/carlos/WORKSPACE/MegaClassifier/data/raw/28570Images_binary.csv

Number of samples in set dataset: 28570
label
0     9665
1    18905
Name: count, dtype: int64

In [19]:
# Calculate the proportion of samples for the empty class in each dataset
proportion_empty_raw = number_raw_empty / number_raw_samples
proportion_empty_set = number_set_empty / number_set_samples

# Calculate the proportion of samples for the animal class in each dataset
proportion_animal_raw = number_raw_animal / number_raw_samples
proportion_animal_set = number_set_animal / number_set_samples

# Print the proportions
print(
    "Proportion of empty class samples in raw dataset:\t{:.2%}".format(
        proportion_empty_raw
    )
)
print(
    "Proportion of empty class samples in set dataset:\t{:.2%}".format(
        proportion_empty_set
    )
)
print()
print(
    "Proportion of animal class samples in raw dataset:\t{:.2%}".format(
        proportion_animal_raw
    )
)
print(
    "Proportion of animal class samples in set dataset:\t{:.2%}".format(
        proportion_animal_set
    )
)

Proportion of empty class samples in raw dataset:	31.65%
Proportion of empty class samples in set dataset:	33.83%

Proportion of animal class samples in raw dataset:	68.35%
Proportion of animal class samples in set dataset:	66.17%