In [1]:
import os

import src.data.Dataset as dt

In [2]:
DATASET_CSV = os.path.abspath("./data/interim/28570Images_filtered.csv")
OUTPUT_FOLDER = os.path.abspath("./data/processed")

print(f"DATASET_CSV:     {DATASET_CSV}")
print(f"OUTPUT_FOLDER:   {OUTPUT_FOLDER}")

DATASET_CSV:     /Users/carlos/WORKSPACE/MegaClassifier/data/interim/28570Images_filtered.csv
OUTPUT_FOLDER:   /Users/carlos/WORKSPACE/MegaClassifier/data/processed

In [3]:
dataset = dt.load_from_csv(DATASET_CSV)
dataset

The file /Users/carlos/WORKSPACE/MegaClassifier/data/interim/28570Images_filtered.csv has been successfully opened.

                                               file_name  label
0             vacia/noanimal_zoo_1_4/37_20210115_85_.jpg      0
1      vacia/vacia_wellingtoncameratraps_ss/250915071...      0
2      vacia/vacias_2_de_2_pnc_2012_isaac/a15323im000...      0
3      cervidae/cervidredorfallowdeer_zoo_5_6_7_9/18_...      1
4      humanovehiculo/car_caltechcameratrap_me/vehicu...      1
...                                                  ...    ...
28565  humanovehiculo/car_caltechcameratrap_me/vehicu...      1
28566   vacia/noanimal_zoo_5_6_7_9/2_20210417_16892_.jpg      0
28567  vacia/empty_snapshotmountainzebra/mtz_s1_c04_r...      0
28568  mapache/raccoon_caltechcameratrap_me/58b9d6a2-...      1
28569  vaca/cow_zoo_5_6_7_9/2_20210219_4215__2021_04_...      1

[28570 rows x 2 columns]

In [4]:
percentaje_train = 0.70
percentaje_val = 0.15
percentaje_test = 0.15

In [5]:
number_of_images = len(dataset["file_name"])

train_file_name = os.path.join(
    OUTPUT_FOLDER, "train", str(number_of_images) + "Train.csv"
)
val_file_name = os.path.join(
    OUTPUT_FOLDER, "validation", str(number_of_images) + "Validation.csv"
)
test_file_name = os.path.join(OUTPUT_FOLDER, "test", str(number_of_images) + "Test.csv")

print(f"train_file_name:   {train_file_name}")
print(f"val_val_file_name: {val_file_name}")
print(f"test_file_name:    {test_file_name}")

train_file_name:   /Users/carlos/WORKSPACE/MegaClassifier/data/processed/train/28570Train.csv
val_val_file_name: /Users/carlos/WORKSPACE/MegaClassifier/data/processed/validation/28570Validation.csv
test_file_name:    /Users/carlos/WORKSPACE/MegaClassifier/data/processed/test/28570Test.csv

In [6]:
train_dataset, val_dataset, test_dataset = dt.split_dataset(
    dataset, percentaje_train, percentaje_val, percentaje_test
)

In [7]:
train_dataset

                                               file_name  label
1564   ave/ave_soraya_padilla_alumno_1_th/dscf0049_fr...      1
19425  vacia/empty_islandconservationcameratraps/domi...      0
2462                   vacia/nothing_mammalweb/63884.jpg      0
1590   leporido/rabbit_caltechcameratrap_me/59c1786a-...      1
9061   cervidae/cervidredorfallowdeer_zoo_5_6_7_9/46_...      1
...                                                  ...    ...
18839     lince/lince_b_linces2_leo_jc/lince230_116_.jpg      1
28499      lince/lince_b_linces2_leo_jc/lince168_49_.jpg      1
2777        vacia/noanimal_zoo_1_4/34_20210115_3204_.jpg      0
15671  vacia/empty_islandconservationcameratraps/ecua...      0
28348  humanovehiculo/humano_vehiculo_pnm_2012_isaac/...      1

[19998 rows x 2 columns]

In [8]:
val_dataset

                                               file_name  label
12230       ave/rabilargo_pnc_2014_jc/c30030im000085.jpg      1
16187   tejon/tejon_alumno_2_am_jc/dscf0635_frame034.jpg      1
6895   leporido/conejo_wellingtoncameratraps_ss/19051...      1
16325  vaca/cow_caltechcameratrap/58b4aba6-23d2-11e8-...      1
15370        vacia/noanimal_zoo_1_4/7_20210115_3670_.jpg      0
...                                                  ...    ...
23063  cervidae/ciervo_vacias_humanos_pnc_2012_me/a33...      1
22502       vacia/noanimal_zoo_1_4/26_20201020_3891_.jpg      0
7499   humanovehiculo/humanovehiculo_pnc_2013-o_red_i...      1
21421  leporido/rabbit_caltechcameratrap_me/5961061e-...      1
21768  vacia/empty_islandconservationcameratraps/ecua...      0

[4284 rows x 2 columns]

In [9]:
test_dataset

                                               file_name  label
9223    vacia/noanimal_zoo_5_6_7_9/2_20210618_21236_.jpg      0
8112   vacia/empty_caltechcameratraps/59e77d85-23d2-1...      0
21649  cervidae/ciervo_pnm_2012_isaac/d16198im000033.jpg      1
4455   jabali/wildboar_zoo_5_6_7_9/11_20210218_889__2...      1
21910     cervidae/ciervo_pnc_2013-i_me/6124im000013.jpg      1
...                                                  ...    ...
620    cervidae/cervidredorfallowdeer_zoo_5_6_7_9/5_2...      1
3047        vacia/noanimal_zoo_1_4/34_20210115_2060_.jpg      0
8189   cervidae/deer_caltechcameratrap/59aada02-23d2-...      1
7603   ave/bird_caltechcameratrap/59d41ab0-23d2-11e8-...      1
10988             vacia/vacia_paco_carro_jc/01110784.jpg      0

[4288 rows x 2 columns]

In [10]:
dt.dataset_to_csv(train_dataset, train_file_name)
dt.dataset_to_csv(val_dataset, val_file_name)
dt.dataset_to_csv(test_dataset, test_file_name)

The dataset has been successfully saved to /Users/carlos/WORKSPACE/MegaClassifier/data/processed/train/28570Train.csv
The dataset has been successfully saved to /Users/carlos/WORKSPACE/MegaClassifier/data/processed/validation/28570Validation.csv
The dataset has been successfully saved to /Users/carlos/WORKSPACE/MegaClassifier/data/processed/test/28570Test.csv

In [11]:
print(
    "=================================================================================="
)
print(f"Calculos para TRAIN: {percentaje_train*100}%:")
print(
    "=================================================================================="
)
print(
    f"- Valor teorico: {len(dataset)} x {percentaje_train*100}% = {len(dataset)*percentaje_train}"
)
print(f"- Valor generado: {len(train_dataset)}")
print()
print(
    f"- Valor teorico VACIA: {len(dataset[dataset['label'] == 0])} x {percentaje_train*100}% = {len(dataset[dataset['label'] == 0])*percentaje_train}"
)
print(f"- Valor generado VACIA: {len(train_dataset[train_dataset['label'] == 0])}")
print()
print(
    f"- Valor teorico ANIMAL: {len(dataset[dataset['label'] == 1])} x {percentaje_train*100}% = {len(dataset[dataset['label'] == 1])*percentaje_train}"
)
print(f"- Valor generado ANIMAL: {len(train_dataset[train_dataset['label'] == 1])}")
print()
print(
    "=================================================================================="
)
print(f"Calculos para VALIDATION: {percentaje_val*100}%:")
print(
    "=================================================================================="
)
print(
    f"- Valor teorico: {len(dataset)} x {percentaje_val*100}% = {len(dataset)*percentaje_val}"
)
print(f"- Valor generado: {len(val_dataset)}")
print()
print(
    f"- Valor teorico VACIA: {len(dataset[dataset['label'] == 0])} x {percentaje_val*100}% = {len(dataset[dataset['label'] == 0])*percentaje_val}"
)
print(f"- Valor generado VACIA: {len(val_dataset[val_dataset['label'] == 0])}")
print()
print(
    f"- Valor teorico ANIMAL: {len(dataset[dataset['label'] == 1])} x {percentaje_val*100}% = {len(dataset[dataset['label'] == 1])*percentaje_val}"
)
print(f"- Valor generado ANIMAL: {len(val_dataset[val_dataset['label'] == 1])}")
print()
print(
    "=================================================================================="
)
print(f"Calculos para TEST: {percentaje_test*100}%:")
print(
    "=================================================================================="
)
print(
    f"- Valor teorico: {len(dataset)} x {percentaje_test*100}% = {len(dataset)*percentaje_test}"
)
print(f"- Valor generado: {len(test_dataset)}")
print()
print(
    f"- Valor teorico VACIA: {len(dataset[dataset['label'] == 0])} x {percentaje_test*100}% = {len(dataset[dataset['label'] == 0])*percentaje_test}"
)
print(f"- Valor generado VACIA: {len(test_dataset[test_dataset['label'] == 0])}")
print()
print(
    f"- Valor teorico ANIMAL: {len(dataset[dataset['label'] == 1])} x {percentaje_test*100}% = {len(dataset[dataset['label'] == 1])*percentaje_test}"
)
print(f"- Valor generado ANIMAL: {len(test_dataset[test_dataset['label'] == 1])}")
print()

==================================================================================
Calculos para TRAIN: 70.0%:
==================================================================================
- Valor teorico: 28570 x 70.0% = 19999.0
- Valor generado: 19998

- Valor teorico VACIA: 9665 x 70.0% = 6765.5
- Valor generado VACIA: 6765

- Valor teorico ANIMAL: 18905 x 70.0% = 13233.5
- Valor generado ANIMAL: 13233

==================================================================================
Calculos para VALIDATION: 15.0%:
==================================================================================
- Valor teorico: 28570 x 15.0% = 4285.5
- Valor generado: 4284

- Valor teorico VACIA: 9665 x 15.0% = 1449.75
- Valor generado VACIA: 1449

- Valor teorico ANIMAL: 18905 x 15.0% = 2835.75
- Valor generado ANIMAL: 2835

==================================================================================
Calculos para TEST: 15.0%:
==================================================================================
- Valor teorico: 28570 x 15.0% = 4285.5
- Valor generado: 4288

- Valor teorico VACIA: 9665 x 15.0% = 1449.75
- Valor generado VACIA: 1451

- Valor teorico ANIMAL: 18905 x 15.0% = 2835.75
- Valor generado ANIMAL: 2837