In [6]:
import os

import src.data.Dataset as dt

In [7]:
DATASET_CSV = os.path.abspath(
    "./data/raw/emptyNonEmptyDataset_ETL/28560Images_binary.csv"
)
OUTPUT_FOLDER = os.path.abspath("./data/raw/emptyNonEmptyDataset_ETL")

print(f"DATASET_CSV:     {DATASET_CSV}")
print(f"OUTPUT_FOLDER:   {OUTPUT_FOLDER}")

DATASET_CSV:     /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Images_binary.csv
OUTPUT_FOLDER:   /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL

In [8]:
dataset = dt.load_from_csv(DATASET_CSV)
dataset

The file /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Images_binary.csv has been successfully opened.

,file_name,label,binary_label
0,cervidae/cervidredorfallowdeer_zoo_1_4/20_2020...,cervidae,1
1,leporido/conejo_wellingtoncameratraps_ss/19081...,leporido,1
2,vacia/empty_snapshotmountainzebra/mtz_s1_d07_r...,vacia,0
3,vacia/noanimal_zoo_5_6_7_9/37_20210319_943_.jpg,vacia,0
4,vacia/empty_islandconservationcameratraps/domi...,vacia,0
...,...,...,...
28555,vacia/vacia_ss/27_20201023_17_.jpg,vacia,0
28556,zorro/redfox_zoo_1_4/32_20201218_348_.jpg,zorro,1
28557,mapache/raccoon_caltechcameratrap_me/58af767e-...,mapache,1
28558,cervidae/cervidredorfallowdeer_zoo_5_6_7_9/5_2...,cervidae,1
28559,zorro/zorro_pnm_2012_me/d3424im000012.jpg,zorro,1

In [9]:
percentaje_train = 0.70
percentaje_val = 0.15
percentaje_test = 0.15

In [10]:
number_of_images = len(dataset["file_name"])

train_file_name = os.path.join(OUTPUT_FOLDER, str(number_of_images) + "Train.csv")
val_file_name = os.path.join(OUTPUT_FOLDER, str(number_of_images) + "Validation.csv")
test_file_name = os.path.join(OUTPUT_FOLDER, str(number_of_images) + "Test.csv")

print(f"train_file_name:   {train_file_name}")
print(f"val_val_file_name: {val_file_name}")
print(f"test_file_name:    {test_file_name}")

train_file_name:   /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Train.csv
val_val_file_name: /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Validation.csv
test_file_name:    /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Test.csv

In [11]:
train_dataset, val_dataset, test_dataset = dt.split_dataset(
    dataset, percentaje_train, percentaje_val, percentaje_test
)

In [12]:
train_dataset

,file_name,label,binary_label
4986,jabali/wildboar_zoo_1_4/24_20201117_184_.jpg,jabali,1
20537,vacia/noanimal_zoo_1_4/7_20210115_1170_.jpg,vacia,0
28174,vacia/vacias_2_de_2_pnc_2012_isaac/a731im00008...,vacia,0
13070,humanovehiculo/car_caltechcameratrap_me/vehicu...,humanovehiculo,1
27711,ave/ave_ave_wellingtoncameratraps_ss/030216102...,ave,1
...,...,...,...
7080,gato_domestico/gato_wellingtoncameratraps_ss/1...,gato_domestico,1
539,cervidae/cervidae_me_rev_1_donana/37_20201024_...,cervidae,1
2549,vacia/empty_snapshotkaroo/kar_s1_c03_r1_imag06...,vacia,0
15644,vacia/noanimal_zoo_5_6_7_9/11_20210318_114_.jpg,vacia,0
23552,cervidae/cervidredorfallowdeer_zoo_5_6_7_9/38_...,cervidae,1

In [13]:
val_dataset

,file_name,label,binary_label
7930,cervidae/ciervo_vacias_humanos_pnc_2012_me/a14...,cervidae,1
1059,vacia/vacia_pnm_2013-o_me/f27648imag0206.jpg,vacia,0
9498,jabali/jabali_pnc_2013-o_me/b1349imag0199.jpg,jabali,1
11572,humanovehiculo/humano_vehiculo_pnc_2013-i_isaa...,humanovehiculo,1
2960,cervidae/cervidredorfallowdeer_zoo_1_4/8_20201...,cervidae,1
...,...,...,...
6354,vaca/cow_caltechcameratrap/58c7f0cf-23d2-11e8-...,vaca,1
22726,vacia/empty_islandconservationcameratraps/ecua...,vacia,0
23131,ave/bird_caltechcameratrap/59da8ada-23d2-11e8-...,ave,1
26282,cervidae/cervidredorfallowdeer_zoo_1_4/28_2020...,cervidae,1
21926,vacia/empty_caltechcameratraps/594ceb92-23d2-1...,vacia,0

In [14]:
test_dataset

,file_name,label,binary_label
11426,cervidae/cervidredorfallowdeer_zoo_5_6_7_9/15_...,cervidae,1
3810,vacia/empty_islandconservationcameratraps/domi...,vacia,0
9625,jabali/wildboar_zoo_1_4/37_20201116_5098_.jpg,jabali,1
1526,lince/linces_linces2_leo_jc/2_lince_linces2_le...,lince,1
20237,humanovehiculo/humanovehiculo_pnc_2013-o_red_i...,humanovehiculo,1
...,...,...,...
1430,cervidae/cervidredorfallowdeer_zoo_5_6_7_9/28_...,cervidae,1
2749,vacia/noanimal_zoo_1_4/37_20201116_11018_.jpg,vacia,0
28398,cervidae/cervidredorfallowdeer_zoo_5_6_7_9/2_2...,cervidae,1
26201,cervidae/cervidredorfallowdeer_zoo_5_6_7_9/39_...,cervidae,1
10713,vacia/vacias_2_de_2_pnc_2012_isaac/a1673im0006...,vacia,0

In [15]:
dt.dataset_to_csv(train_dataset, train_file_name)
dt.dataset_to_csv(val_dataset, val_file_name)
dt.dataset_to_csv(test_dataset, test_file_name)

The dataset has been successfully saved to /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Train.csv
The dataset has been successfully saved to /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Validation.csv
The dataset has been successfully saved to /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Test.csv

In [16]:
print(
    "=================================================================================="
)
print(f"Calculos para TRAIN: {percentaje_train*100}%:")
print(
    "=================================================================================="
)
print(
    f"- Valor teorico: {len(dataset)} x {percentaje_train*100}% = {len(dataset)*percentaje_train}"
)
print(f"- Valor generado: {len(train_dataset)}")
print()
print(
    f"- Valor teorico VACIA: {len(dataset[dataset['binary_label'] == 0])} x {percentaje_train*100}% = {len(dataset[dataset['binary_label'] == 0])*percentaje_train}"
)
print(
    f"- Valor generado VACIA: {len(train_dataset[train_dataset['binary_label'] == 0])}"
)
print()
print(
    f"- Valor teorico ANIMAL: {len(dataset[dataset['binary_label'] == 1])} x {percentaje_train*100}% = {len(dataset[dataset['binary_label'] == 1])*percentaje_train}"
)
print(
    f"- Valor generado ANIMAL: {len(train_dataset[train_dataset['binary_label'] == 1])}"
)
print()
print(
    "=================================================================================="
)
print(f"Calculos para VALIDATION: {percentaje_val*100}%:")
print(
    "=================================================================================="
)
print(
    f"- Valor teorico: {len(dataset)} x {percentaje_val*100}% = {len(dataset)*percentaje_val}"
)
print(f"- Valor generado: {len(val_dataset)}")
print()
print(
    f"- Valor teorico VACIA: {len(dataset[dataset['binary_label'] == 0])} x {percentaje_val*100}% = {len(dataset[dataset['binary_label'] == 0])*percentaje_val}"
)
print(f"- Valor generado VACIA: {len(val_dataset[val_dataset['binary_label'] == 0])}")
print()
print(
    f"- Valor teorico ANIMAL: {len(dataset[dataset['binary_label'] == 1])} x {percentaje_val*100}% = {len(dataset[dataset['binary_label'] == 1])*percentaje_val}"
)
print(f"- Valor generado ANIMAL: {len(val_dataset[val_dataset['binary_label'] == 1])}")
print()
print(
    "=================================================================================="
)
print(f"Calculos para TEST: {percentaje_test*100}%:")
print(
    "=================================================================================="
)
print(
    f"- Valor teorico: {len(dataset)} x {percentaje_test*100}% = {len(dataset)*percentaje_test}"
)
print(f"- Valor generado: {len(test_dataset)}")
print()
print(
    f"- Valor teorico VACIA: {len(dataset[dataset['binary_label'] == 0])} x {percentaje_test*100}% = {len(dataset[dataset['binary_label'] == 0])*percentaje_test}"
)
print(f"- Valor generado VACIA: {len(test_dataset[test_dataset['binary_label'] == 0])}")
print()
print(
    f"- Valor teorico ANIMAL: {len(dataset[dataset['binary_label'] == 1])} x {percentaje_test*100}% = {len(dataset[dataset['binary_label'] == 1])*percentaje_test}"
)
print(
    f"- Valor generado ANIMAL: {len(test_dataset[test_dataset['binary_label'] == 1])}"
)
print()

==================================================================================
Calculos para TRAIN: 70.0%:
==================================================================================
- Valor teorico: 28560 x 70.0% = 19992.0
- Valor generado: 19991

- Valor teorico VACIA: 9665 x 70.0% = 6765.5
- Valor generado VACIA: 6765

- Valor teorico ANIMAL: 18895 x 70.0% = 13226.5
- Valor generado ANIMAL: 13226

==================================================================================
Calculos para VALIDATION: 15.0%:
==================================================================================
- Valor teorico: 28560 x 15.0% = 4284.0
- Valor generado: 4283

- Valor teorico VACIA: 9665 x 15.0% = 1449.75
- Valor generado VACIA: 1449

- Valor teorico ANIMAL: 18895 x 15.0% = 2834.25
- Valor generado ANIMAL: 2834

==================================================================================
Calculos para TEST: 15.0%:
==================================================================================
- Valor teorico: 28560 x 15.0% = 4284.0
- Valor generado: 4286

- Valor teorico VACIA: 9665 x 15.0% = 1449.75
- Valor generado VACIA: 1451

- Valor teorico ANIMAL: 18895 x 15.0% = 2834.25
- Valor generado ANIMAL: 2835

In [19]:
# Añadir una columna 'subset' al dataset original
dataset['subset'] = ''

# Asignar el valor correspondiente a cada subconjunto
dataset.loc[dataset['file_name'].isin(train_dataset['file_name']), 'subset'] = 'train'
dataset.loc[dataset['file_name'].isin(val_dataset['file_name']), 'subset'] = 'validation'
dataset.loc[dataset['file_name'].isin(test_dataset['file_name']), 'subset'] = 'test'

In [21]:
dataset

,file_name,label,binary_label,subset
0,cervidae/cervidredorfallowdeer_zoo_1_4/20_2020...,cervidae,1,train
1,leporido/conejo_wellingtoncameratraps_ss/19081...,leporido,1,train
2,vacia/empty_snapshotmountainzebra/mtz_s1_d07_r...,vacia,0,train
3,vacia/noanimal_zoo_5_6_7_9/37_20210319_943_.jpg,vacia,0,test
4,vacia/empty_islandconservationcameratraps/domi...,vacia,0,train
...,...,...,...,...
28555,vacia/vacia_ss/27_20201023_17_.jpg,vacia,0,train
28556,zorro/redfox_zoo_1_4/32_20201218_348_.jpg,zorro,1,train
28557,mapache/raccoon_caltechcameratrap_me/58af767e-...,mapache,1,test
28558,cervidae/cervidredorfallowdeer_zoo_5_6_7_9/5_2...,cervidae,1,train
28559,zorro/zorro_pnm_2012_me/d3424im000012.jpg,zorro,1,test

In [18]:
dt.dataset_to_csv(
    dataset, os.path.join(OUTPUT_FOLDER, str(number_of_images) + "Images_subset.csv")
)

The dataset has been successfully saved to /Users/carlos/WORKSPACE/MegaClassifier/data/raw/emptyNonEmptyDataset_ETL/28560Images_subset.csv